<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User details</title>
</head>
<body>

<form action="#" th:action="@{/admin/create}" th:object="${user}" method="post">
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="Email">
    <p/>
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    <p/>
    <label for="lastName">Lastname</label>
    <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name">
    <p/>
    <label for="age">Age</label>
    <input type="number" th:field="*{age}" id="age" placeholder="Age">
    <p/>
    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="Password">
    <p/>
<!--    <p>-->
<!--        <label>Roles:-->
<!--            <input type="checkbox" name="authorities"-->
<!--                   th:each="role : ${allRoles}"-->
<!--                   th:text="${role.name}"-->
<!--                   th:value="${role.id}"-->
<!--            />-->
<!--        </label>-->
<!--    </p>-->
    <input type="submit" value="Create User">

</form>
<p/>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>