<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User details</title>
</head>
<body>

<form action="#" th:action="@{/admin/create}" th:object="${user}" method="post">
    <label for="name">Name</label>
    <input type="text" th:field="*{username}" id="name" placeholder="Name">
    <p/>
    <label for="lastName">Lastname</label>
    <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name">
    <p/>
    <label for="age">Age</label>
    <input type="text" th:field="*{age}" id="age" placeholder="Age">
    <p/>
    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="Password">
    <p/>
    <input type="submit" value="Create User">
</form>
<p/>
<a th:href="logout">Logout</a>
</body>
</html>